#contenedor {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height:100%;
}
html, body { 
height: 94%; 
background-image:url(img/background.png);
}
li{
  display: inline;
  margin: 0 0 9px 0;
  float: left;

}
a {
  padding: 2px 20px 2px 20px;
  color: #F2F2F2;
  text-decoration: none;
}
#menu {
  border-radius: 5px;
  display: inline-block;
  font: bold 12px/12px HelveticaNeue, Arial;
  padding: 8px 0;
  text-decoration: none;
  background: #2E2E2E;
  margin: 3px 0px;
}
#cuerpo {
  color: #F2F2F2;
  border-radius: 5px;
  font: bold 12px/12px HelveticaNeue, Arial;
  padding: 8px 0;
  text-decoration: none;
  background: #424242;
  min-height: 100%;
  text-align: center;
  height: 100%
  
  }
img {
border-radius: 11px;
padding: 5px 0px 5px 0px;
}
pre{
  font: bold 16px/16px HelveticaNeue, Arial;
  }
#contenido{
  padding: 45px 0px 0px 0px;
}

